__pycache__/
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/obj
README.md
